*
{
	padding: 0;
	margin: 0;
}

#clock
{
	position: absolute;
	left: 33%;
	top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#timeLeft
{
	position: absolute;
	left: 20%;
	bottom: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
}